h1, h2{font-family: 'Pixelify Sans', cursive; color: brown;}
*{font-family: 'Sofia Sans Condensed', sans-serif; background-color: antiquewhite; min-height: 30px; min-width: 200px;}
#Des-Foto{color: green; font-size: 20.5px;}

    
